@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); 

* {
    margin: 4px;
}

body {
    padding: 1rem;
    background-color: #f2f2f2;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    text-align: center;
    width: 100%;
}

a {
    padding: 6px 6px;
    margin: 8px;
    width: 200px;
    color: #FFF;
    background: #336799;
    border: 0px;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-align: center;
    border-radius: 3px;
}

a:hover {
    background-color: #0094ff;
}


.menu {
    background-color: #c7ddf5;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

td {
    padding: 10px;
}