<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="Vitty" connectionString="Server=VITTY-PC;Database=academia;Integrated Security=false; user=vitty; Password=dkchalo; "
      providerName="MySql.Data.MySqlClient" />
    <add name="Facu" connectionString="Data Source=DESKTOP-TKJPG11\WORKSPACESERVER;Initial Catalog=academia;Integrated Security=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>